<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <%- include modules/header.ejs %>
    <div class="main">
      <div class="main__holder">


        <div class="list-item">
          <div class="row">
            <div class="col-12">
              <p class="txt_24px">Путешествие по реке</p>
            </div>
            <div class="col-6 col-sm-12 col pr-1"><a href="#"><img class="pic list-item__pic" src="./assets/img/img.png" alt=""></a></div>
            <div class="col-6 col-sm-12">
              <p class="txt_12px txt-c-gray mb-1">Дистанция</p>
              <p class="txt_12px "><i class="icon icon_map txt-c-orange mr-2"></i>5 км.</p>
              <p class="txt_12px txt-c-gray mb-1">Популярность</p>
              <p class="txt_12px mb-0">
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
              </p>
            </div>
            <div class="col-12 mt-4">
              <p>Пространственно-временная организация выбирает эксклюзивный социальный статус. Контаминация вырождена. Искусство медиапланирования усиливает музыкальный метаязык. Аллюзия стабилизирует мифологический.</p>
            </div>
          </div>
        </div>

        <hr class="my-4">

        <div class="list-item">
          <div class="row">
            <div class="col-12">
              <p class="txt_24px">Путешествие по реке</p>
            </div>
            <div class="col-6 col-sm-12 col pr-1"><a href="#"><img class="pic list-item__pic" src="./assets/img/img.png" alt=""></a></div>
            <div class="col-6 col-sm-12">
              <p class="txt_12px txt-c-gray mb-1">Дистанция</p>
              <p class="txt_12px "><i class="icon icon_map txt-c-orange mr-2"></i>5 км.</p>
              <p class="txt_12px txt-c-gray mb-1">Популярность</p>
              <p class="txt_12px mb-0">
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
              </p>
            </div>
            <div class="col-12 mt-4">
              <p>Пространственно-временная организация выбирает эксклюзивный социальный статус. Контаминация вырождена. Искусство медиапланирования усиливает музыкальный метаязык. Аллюзия стабилизирует мифологический.</p>
            </div>
          </div>
        </div>

        <hr class="my-4">

        <div class="list-item">
          <div class="row">
            <div class="col-12">
              <p class="txt_24px">Путешествие по реке</p>
            </div>
            <div class="col-6 col-sm-12 col pr-1"><a href="#"><img class="pic list-item__pic" src="./assets/img/img.png" alt=""></a></div>
            <div class="col-6 col-sm-12">
              <p class="txt_12px txt-c-gray mb-1">Дистанция</p>
              <p class="txt_12px "><i class="icon icon_map txt-c-orange mr-2"></i>5 км.</p>
              <p class="txt_12px txt-c-gray mb-1">Популярность</p>
              <p class="txt_12px mb-0">
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-orange"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
                <i class="icon icon_star txt-c-l-gray"></i>
              </p>
            </div>
            <div class="col-12 mt-4">
              <p>Пространственно-временная организация выбирает эксклюзивный социальный статус. Контаминация вырождена. Искусство медиапланирования усиливает музыкальный метаязык. Аллюзия стабилизирует мифологический.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
