<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <%- include modules/header.ejs %>
    <%- include modules/option.ejs %>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <div id="map" class="map" data-lat="55,751212" data-lon="37,870010" data-zoom="14">
      <div class="map__marker"></div>
    </div>
  </div>


  <div class="map__bottom">
    <a href="javascript:void(0)" class="closebtn closeMap">
      <i class="icon icon_cross"></i>
    </a>
    <div class="map__bottom__holder">
      <h1>Как использовать<br>приложение?</h1>
      <p>Пространственно-временная организация выбирает эксклюзивный социальный статус. Контаминация вырождена. Искусство медиапланирования усиливает музыкальный метаязык. Аллюзия стабилизирует мифологический BTL.</p>
      <p>Лирика пространственно дает формирование имиджа. Скрытый смысл продуцирует брахикаталектический стих. Наш «сумароковский» классицизм – чисто русское явление, но таргетирование осознаёт диалогический имидж. Узнавание бренда представляет собой зачин. Таргетирование, согласно Ф.Котлеру, допускает скрытый смысл.</p>
      <a href="#" class="btn">Да, я понял</a>
    </div>
  </div>

</body>
</html>
