<div class="header px-3 d-flex align-items-center">
  <a href="/"><img class="header__logo" src="./assets/img/logo.png" alt=""></a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>



<div class="sidenav">
  <div class="sidenav__holder">
    <a href="javascript:void(0)" class="closebtn closeNav">
      <i class="icon icon_cross"></i>
    </a>
    <a href="#">Показать все путешествия</a>
    <hr class="black">
    <a href="#">Как использовать приложение?</a>
  </div>
</div>
