<div class="option-wrapper position-relative">
  <a href="#" class="option orange-block p-3 d-flex">
    Путешествие по реке
    <i class="icon icon_arrow_d ml-auto mb-1"></i>
  </a>
  <div class="option-wrapper__drop">
    <div class="option-wrapper__drop__holder">
      <div class="option-list">
        <div class="row">
          <div class="col-4 col-sm-3 pr-2">
            <a href="#"><img class="pic option__pic" src="./assets/img/img.png" alt=""></a>
          </div>
          <div class="col-8 col-sm-9 pr-2">
            <p class="txt_16px">Путешествие по реке</p>
            <p class="mb-0">Пространственно-временная организация выбирает эксклюзивный  статус.</p>
          </div>
        </div>
      </div>
      <hr class="my-3">
      <div class="option-list">
        <div class="row">
          <div class="col-4 col-sm-3 pr-2">
            <a href="#"><img class="pic option__pic" src="./assets/img/img.png" alt=""></a>
          </div>
          <div class="col-8 col-sm-9 pr-2">
            <p class="txt_16px">Путешествие по реке</p>
            <p class="mb-0">Пространственно-временная организация выбирает эксклюзивный  статус.</p>
          </div>
        </div>
      </div>
      <hr class="my-3">
      <div class="option-list">
        <div class="row">
          <div class="col-4 col-sm-3 pr-2">
            <a href="#"><img class="pic option__pic" src="./assets/img/img.png" alt=""></a>
          </div>
          <div class="col-8 col-sm-9 pr-2">
            <p class="txt_16px">Путешествие по реке</p>
            <p class="mb-0">Пространственно-временная организация выбирает эксклюзивный  статус.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
